.clearfloat{clear:both;height:0;font-size:1px;line-height:1px;font-weight;normal;}
.clear{margin:0px;padding:0px;}
.blank{font-size:1px;font-weight:normal;line-height:normal;}
/* Standard Definitions */
.font4{font-size:4px;}
.font8{font-size:8px;}
.font12{font-size:12px;}
.font14{font-size:14px;}
.font16{font-size:16px;}
.font18{font-size:18px;}
.font20{font-size:20px;}
.font24{font-size:24px;}
.font28{font-size:28px;}
.font32{font-size:32px;}
.fontbold{font-weight:bold;}
.fontnormal{font-weight:normal;}
.fontarial{font-family:arial;}
.font_songti{font-family:ËÎÌå;}
.font_heiti{font-family:ºÚÌå;}
.font_yahei{font-family:Î¢ÈíÑÅºÚ;}
.fl{float:left;}
.fr{float:right;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.vm{vertical-align:middle;}
.mt0{margin-top:0px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mr0{margin-right:0px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mb0{margin-bottom:0px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.ml0{margin-left:0px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.m0{margin:0px;}
.m5{margin:5px;}
.m10{margin:10px;}
.m20{margin:20px;}
.pt0{padding-top:0px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pr0{padding-right:0px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr20{padding-right:20px;}
.pb0{padding-bottom:0px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}
.pl0{padding-left:0px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl20{padding-left:20px;}
.p0{padding:0px;}
.p5{padding:5px;}
.p10{padding:10px;}
.p20{padding:20px;}
.middot{font-family:"Hiragino Sans GB","SimSun";}

/* Link Styles */
a:link,a:visited,a:hover,a:active{text-decoration:none;cursor:pointer;}
.red{color:#f00;}
a.red:link{color:#f00;text-decoration:none;cursor:pointer;}
a.red:visited{color:#f00;text-decoration:none;cursor:pointer;}
a.red:hover{color:#f00;text-decoration:underline;cursor:pointer;}
a.red:active{color:#f00;text-decoration:none;cursor:pointer;}
.blue{color:#00f;}
a.blue:link{color:#00f;text-decoration:none;cursor:pointer;}
a.blue:visited{color:#00f;text-decoration:none;cursor:pointer;}
a.blue:hover{color:#00f;text-decoration:underline;cursor:pointer;}
a.blue:active{color:#00f;text-decoration:none;cursor:pointer;}
.green{color:#080;}
a.green:link{color:#080;text-decoration:none;cursor:pointer;}
a.green:visited{color:#080;text-decoration:none;cursor:pointer;}
a.green:hover{color:#080;text-decoration:underline;cursor:pointer;}
a.green:active{color:#080;text-decoration:none;cursor:pointer;}
.black{color:#000;}
a.black:link{color:#000;text-decoration:none;cursor:pointer;}
a.black:visited{color:#000;text-decoration:none;cursor:pointer;}
a.black:hover{color:#000;text-decoration:underline;cursor:pointer;}
a.black:active{color:#000;text-decoration:none;cursor:pointer;}
.white{color:#fff;}
a.white:link{color:#fff;text-decoration:none;cursor:pointer;}
a.white:visited{color:#fff;text-decoration:none;cursor:pointer;}
a.white:hover{color:#fff;text-decoration:underline;cursor:pointer;}
a.white:active{color:#fff;text-decoration:none;cursor:pointer;}
.yellow{color:#FFF100;}
a.yellow:link{color:#FFF100;text-decoration:none;cursor:pointer;}
a.yellow:visited{color:#FFF100;text-decoration:none;cursor:pointer;}
a.yellow:hover{color:#FFF100;text-decoration:underline;cursor:pointer;}
a.yellow:active{color:#FFF100;text-decoration:none;cursor:pointer;}
.dark{color:#444}
a.dark:link{color:#333;text-decoration:none;cursor:pointer;}
a.dark:visited{color:#333;text-decoration:none;cursor:pointer;}
a.dark:hover{color:#333;text-decoration:underline;cursor:pointer;}
a.dark:active{color:#333;text-decoration:none;cursor:pointer;}
.ashy{color:#666}
a.ashy:link{color:#666;text-decoration:none;cursor:pointer;}
a.ashy:visited{color:#666;text-decoration:none;cursor:pointer;}
a.ashy:hover{color:#666;text-decoration:underline;cursor:pointer;}
a.ashy:active{color:#666;text-decoration:none;cursor:pointer;}
.grey{color:#999;}
a.grey:link{color:#999;text-decoration:none;cursor:pointer;}
a.grey:visited{color:#999;text-decoration:none;cursor:pointer;}
a.grey:hover{color:#999;text-decoration:underline;cursor:pointer;}
a.grey:active{color:#999;text-decoration:none;cursor:pointer;}
.darkblue{color:#059;}
a.darkblue:link{color:#059;text-decoration:none;cursor:pointer;}
a.darkblue:visited{color:#059;text-decoration:none;cursor:pointer;}
a.darkblue:hover{color:#059;text-decoration:underline;cursor:pointer;}
a.darkblue:active{color:#059;text-decoration:none;cursor:pointer;}
.orange{color:#f60;}
a.orange:link{color:#f60;text-decoration:none;cursor:pointer;}
a.orange:visited{color:#f60;text-decoration:none;cursor:pointer;}
a.orange:hover{color:#f60;text-decoration:underline;cursor:pointer;}
a.orange:active{color:#f60;text-decoration:none;cursor:pointer;}
.purple{color:#6C2E9B;}
a.purple:link{color:#6C2E9B;text-decoration:none;cursor:pointer;}
a.purple:visited{color:#6C2E9B;text-decoration:none;cursor:pointer;}
a.purple:hover{color:#6C2E9B;text-decoration:underline;cursor:pointer;}
a.purple:active{color:#6C2E9B;text-decoration:none;cursor:pointer;}

.w100{width:100%;}
.top{font-size:20px;padding:8px 0;}
.bottom{font-size:12px;color:#000;min-height:34px;height:34px;line-height:34px;text-align:center;vertical-align:middle;}

.datetimebox{color:#2a5893;font-weight:bold;font-size:16px;margin-left:2px;}
.click{cursor:pointer;}